@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Baloo+Da+2:wght@400;500;600;700;800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* VARIÁVEIS */

:root{
    --font-action: "Averia Serif Libre", serif;
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Source Sans Pro", serif;
    
    --color-primary1: #000000;
    --color-primary2: -webkit-linear-gradient(to right, #000000, #434343, #000000);
    --color-primary3: linear-gradient(to right, #000000, #434343, #000000);
    
    --color-secondary1: #000000;
    --color-secondary2: -webkit-linear-gradient(to right, #bbaefc, #000000);
    --color-secondary3: linear-gradient(to right, #c9c9c9, #bbaefc, #000000);

    --color-third1: #232526;
    --color-third2: -webkit-linear-gradient(to right, #000000, #232526);
    --color-third3: linear-gradient(to right, #000000, #232526);

    --color-fourth1: #093028;
    --color-fourth2: -webkit-linear-gradient(to right, #093028, #237a57);
    --color-fourth3: linear-gradient(to right, #093028, #237a57);
}

/* GERAL */

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background: url(../IMG/Background/fundo.png);
}

.sessao-container{
    position: relative;
}

/* HEADER */

.escopo-site{
    max-width: 100rem;
    margin: 0 auto;
    width: 100%;
}

.faixaCorPrimaria{
    background: var(--color-primary3, --color-primary2, --color-primary1);
}

.sessao-header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao-header div h2{
    font-size: 1.8rem;
    color: #fff;
    font-family: var(--font-primary);
}

.sessao-header div a{
    font-size: 2.5rem;
    margin: 0 3rem;
    color: #fff;
    transition: 1s ease;
}

.sessao-header div a:hover{
    text-shadow: -0.05rem -0.05rem 0.7rem rgba(255, 255, 255, 1);
}

/* MENU */

.faixaCorSecundaria{
    background: var(--color-secondary3, --color-secondary2, --color-secondary1);
}

.sessao-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao-menu h1{
    background: url(../IMG/Logo/logo.png) no-repeat center;
    background-size: cover;
    width: 8rem;
    height: 8rem;
    text-indent: -9999px;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    display: flex;
    justify-content: center;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
    background: #c9c9c9;
    margin: 0 1rem;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    font-weight: bold;
    font-family: var(--font-action);
    font-size: 1.3rem;
    transition: 1s ease;
}

.menu ul li a:hover{
    background: rgb(0, 0, 0);
    color: #fff;
}

/* BANNER */

.sessao-banner img{
    width: 100%;
    height: 52rem;
    object-fit: center;
}

/* BANNER (SLICK JS) */

.sessao-banner .slick-prev:before,
.sessao-banner .slick-next:before
{
    font-size: 4rem;
    opacity: 1;
    color: #fff;
}

.sessao-banner .slick-prev:hover,
.sessao-banner .slick-next:hover
{
    opacity: .50;
}

.sessao-banner .slick-prev
{
    left: 4.7rem;
    z-index: 99;
    transition: 1s ease;
}

.sessao-banner .slick-next
{
    right: 8rem;
    z-index: 99;
    transition: 1s ease;
}

.sessao-banner .slick-dots
{
    bottom: 4rem;
}

.sessao-banner .slick-dots li
{
    margin: 0 1rem;
}

.sessao-banner .slick-dots li button:before
{
    font-size: 2rem;
    opacity: .50;
    color: #696868;
}

.sessao-banner .slick-dots li button:hover{
    opacity: .45;
}

.sessao-banner .slick-dots li button{
    transition: 1s ease;    
}

.sessao-banner .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #2b00ff;
}

/* SOBRE */

.sessao-sobre{
    margin-bottom: 4rem;
}

.sessao-sobre h2{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-action);
    font-weight: bold;
    text-decoration: .3rem underline;
    margin-bottom: 2rem;
}

.sessao-sobre div{
    display: flex;
}

.sessao-sobre div p{
    width: 57rem;
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    font-weight: bold;
    color: #fff;
    background: var(--color-third3, --color-third2, --color-third1);
    border: 1rem solid #303030;
    border-radius: 0 2rem 0 1rem;
    padding: 0 3rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.7rem;
    text-align: justify;
}

.sessao-sobre div img{
    width: 42rem;
    height: 25rem;
    border-radius: 2rem 0 0 0;
}

/* GALERIA */

.sessao-galeria{
    background: var(--color-primary3, --color-primary2, --color-primary1);
    padding: 3rem 0;
    margin-bottom: 4rem;
}

.sessao-galeria img{
    margin: 0 2rem;
    width: 21.5rem;
    height: 21.5rem;
    border: .3rem double rgb(0, 132, 255);
    border-radius: 2rem;
}

/* GALERIA (SLICK JS) */

.sessao-galeria .slick-prev:before,
.sessao-galeria .slick-next:before
{
    font-size: 4rem;
    opacity: 1;
    color: #fff;
}

.sessao-galeria .slick-prev:hover,
.sessao-galeria .slick-next:hover
{
    opacity: .50;
}

.sessao-galeria .slick-prev
{
    left: 4.7rem;
    z-index: 99;
    transition: 1s ease;
}

.sessao-galeria .slick-next
{
    right: 8rem;
    z-index: 99;
    transition: 1s ease;
}

/* SERVIÇOS */

.faixaCorTerciaria{
    background: var(--color-fourth3, --color-fourth2, --color-fourth1);
}

.sessao-servicos{
    margin: 4rem auto;
}

.sessao-servicos h2{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-action);
    font-weight: bold;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-servicos hr{
    margin: 0;
    border: .1rem solid #000;
}

.servicos{
    display: flex;
    justify-content: space-between;
}

.servicos div{
    background: #fff;
    padding: 1.5rem;
    margin: 3rem 0 2rem 0;
    border-radius: .5rem;
}

.servicos div img{
    width: 20.5rem;
    height: 15rem;
    object-fit: cover;
}

.servicos div p{
    width: 20.5rem;
    margin: 2rem 0 1rem 0;
    font-size: 1.4rem;
    font-family: var(--font-secondary);
    text-align: center;
}

/* VÍDEO */

.sessao-video{
    padding: 3rem;
}

.sessao-video div{
    background: url(../IMG/Vídeo/imgVideo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: .2rem solid #636363;
}

.sessao-video div img{
    padding: 7rem 45rem;
    z-index: 99;
    filter: invert(35%);
    width: 10rem;
    height: 10rem;
}

/* EQUIPE */

.sessao-equipe{
    margin: 5rem auto 7rem auto;
}

.sessao-equipe h2{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-action);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.sessao-equipe hr{
    margin: 0;
    border: .1rem solid rgb(77, 77, 77);
}

.equipe{
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.equipe div{
    margin: auto 2rem;
}

.equipe div img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10rem;
}

.equipe div h3{
    color: #fff;
    font-size: 2.5rem;
    font-family: var(--font-action);
    font-weight: bold;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe div h4{
    color: rgb(160, 160, 160);
    font-size: 2rem;
    font-family: var(--font-secondary);
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BLOG */

.sessao-blog h2{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-action);
    font-weight: bold;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-blog hr{
    margin: 0;
    border: .1rem solid #000;
}

.blog{
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.blog div{
    background: #fff;
    padding: 1.5rem;
    margin: 3rem 2rem 2rem 0;
    border-radius: .5rem;
}

.blog div img{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}

.blog div p{
    width: 25rem;
    margin: 2rem 0 1rem 0;
    font-size: 1.4rem;
    font-family: var(--font-secondary);
    text-align: center;
}

/* RODAPÉ */

.sessao-rodape{
    text-align: center;
    padding: 2rem 0 3rem 0;
}

.sessao-rodape img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.sessao-rodape div a{
    font-size: 2.5rem;
    margin: 0 3rem;
    color: #000;
    opacity: .9;
    transition: 1s ease;
}

.sessao-rodape div a:hover{
    color: #fff;
    text-shadow: -.02rem -.02rem 0.3rem rgba(255, 255, 255, 1);
    opacity: 1;
}

.sessao-rodape h2{
    font-size: 1.8rem;
    color: #000;
    font-family: var(--font-action);
    font-weight: bold;
    margin: 2rem;
}

.sessao-rodape h3{
    font-size: 1.8rem;
    color: #000;
    font-family: var(--font-action);
    font-weight: bold;
}

.rodape{
    padding: 1.5rem;
}

.rodape h2{
    color: #fff;
    font-size: 1.8rem;
    font-family: var(--font-primary);
    font-weight: 500;
    text-align: center;
}

/* SCROLL DOWN */

.scrollDown{
    position: absolute;
    top: 65rem;
    left: 64rem;
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);
}

.scrollDown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: .2rem solid #fff;
    border-right: .2rem solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrollDown span:nth-child(1){
    transform: translate(-.1rem, -.1rem);
    animation-delay: 0s;
}

.scrollDown span:nth-child(2){
    transform: translate(-.8rem, -.8rem);
    animation-delay: -0.08s;
}

.scrollDown span:nth-child(3){
    transform: translate(-1.5rem, -1.5rem);
    animation-delay: -0.16s;
}

@keyframes animate{
    0%{
        top: -.5rem;
        left: -.5rem;
        opacity: 0;
    }
    25%{
        top: 0;
        left: 0;
        opacity: 1;
    }
    50%, 100%{
        top: .5rem;
        left: .5rem;
        opacity: 0;
    }
}

/* SCROLL TOP */

#scrollTop{
    display: none;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: .3rem solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#scrollTop:hover{
    background-color: #333;
    color: #fff;
    border: .5rem double #fff;
}

/* JavaScript Class (ZoomIN & ZoomOUT) */

.sessao-scrollTopONN{
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: scrollTopONN;
}

/* fadeInUp */

@keyframes scrollTopONN {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.sessao-scrollTopOFF{
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: scrollTopOFF;
}

/* fadeInOut */

@keyframes scrollTopOFF {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

/*
//ZoomIN
@keyframes scrollTopONN {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 1;
    }
}

//ZoomOUT
@keyframes scrollTopOFF {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
} */

/* RESPONSIVIDADE */

